.defaultImgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--space-md);
}

.defaultImg {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.uploadBtn {
    border: 2px solid transparent;
    background: var(--color-bg-page);
    padding: var(--space-xs);
    border-radius: 50%;
    cursor: pointer;
    margin-top: calc(-1 * var(--space-lg));
    margin-left: 5rem;
}

.editBtn {
    height: 15px;
    width: 15px;
    display: block;
}
